﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GuestHeader.ascx.cs" Inherits="_SmartCheckerWeb.Controls.Headers.GuestHeader" %>
<%@ Register TagPrefix="SC" TagName="RegLoginSidebar" Src="~/Controls/Headers/RegLoginSidebar.ascx" %>
 <style type='text/css'>
     @import url('../../Content/Styles.css');
 </style>
    <ul>
        <li><a href="#"><img src="../../Content/logo.png" class="logo"/></a></li>
        <li><a href="#">Обучение</a></li>
    </ul>

    <SC:RegLoginSidebar runat="server"/>
