﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RegLoginSidebar.ascx.cs" Inherits="_SmartCheckerWeb.Controls.RegLoginSidebar" %>
<span class="sidebar">
    <span class="logout">
        <a href="#">Зарегистрироваться</a>
    </span>
    /
    <span class="logout">
        <a href="#">Войти</a>
    </span>
</span>
