﻿@import 'Normalize.css';

html {
    background-color: #f3f3f3;
    height: 100%;
}

a {
    color: black;
}

    a:visited {
        color: black;
    }

body {
    margin: 0;
    font-family: sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: white;
    min-height: 100%;
    padding-bottom:20px;
}

#header {
    height: 90px;
    max-width: 1280px;
    width: 100%;
    background-color: #17a2b8;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

    #header ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        border-color: white;
        list-style-image: none;
    }

    #header li {
        display: inline-block;
        padding: 10px 20px;
        border-right: 2px solid white;
        height: 100%;
        vertical-align: middle;
    }

        #header li a {
            text-decoration: none;
            color: white;
        }

            #header li a:hover {
                text-decoration: underline;
            }

    #header .logo {
        height: 70px;
        width: 70px;
    }

    #header .sidebar {
        float: right;
        padding: 40px 20px;
        height: 100%;
        box-sizing: border-box;
    }

        #header .sidebar a {
            color: white;
        }

        #header .sidebar .role {
            margin-right: 10px;
        }

#content {
    margin: 0 auto;
}

.centered_container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: bold;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #17a2b8;
}

    .styled-table thead tr {
        background-color: #17a2b8;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:hover {
            border-top: 2px solid #17a2b8;
            border-bottom: 2px solid #17a2b8;
            font-weight: bold;
            color: #17a2b8;
        }

.table {
    width: 60%;
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

    .table td {
        vertical-align: top;
        text-align: left;
        height: 43px;
    }

    .table .textInput {
        width: 100%;
    }

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #46b8da;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.widebtn {
    padding: 6px 40px;
}

.textInput {
    border: 1px solid #17a2b8;
    background-color: white;
    width: 35%;
}

h3 a {
    cursor: default;
}

.centered_infobox {
    position: absolute;
    top: 40%;
    left: 50%;    
}

.inner_infobox {
    position: relative;
    left: -50%;
    top: -40%;
    padding: 10px;
    border: 1px solid #17a2b8;
    background-color: #f3f3f3;
    padding: 50px;
}

.shiftedBlock {
    margin-left: -270px;
}